.container{
  height: 45px;
  text-align: center;
  line-height: 45px
}

.swiper-slide{
  background-color: red;
  width: 100%;
  height: 200px;
}

.swiperSlide{
  background-color: red;
  width: 100%;
  height: 200px;
}
