.container{
  width: 100%;
  height: 100%;
  margin-bottom: 45px;
}

.container ul{
   width: 100%;
   flex-wrap: wrap;
   box-sizing: border-box;
}

.container ul li{
  border: solid 2px #f8f8f8;
  background-color: #fff;
  padding: 0;
}
.container ul li>img{
  width: 100%;
}
